@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%);
  font-family: Pretendard, sans-serif;
}

.head {
  text-align: center;
}

.head .img-logo {
  width: 244px;
  margin: 72px auto 0;
}

.main {
  width: 400px;
  padding: 40px 44px;
  margin: 60px auto;
  text-align: center;
  box-sizing: border-box;

  background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  border-radius: 16px;
  text-align: center;
}

.main .title-timer {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  border-bottom: 1px solid #3D538A;
  padding: 8px 0 23px;
}

.cont-timer {
  padding: 33px 0 40px;
  border-top: 1px solid #5B75B4;
}

.box-time {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-weight: 700;
  font-size: 40px;
  color: #fff;

  background: url("../images/box.png") no-repeat;
  background-size: 80px;
}

.btn {
  width: 112px;
  height: 48px;
  margin: 0 6px;
  background: url("../images/btn_sprites.png") no-repeat;
  background-size: 224px;
}

.btn-start {
  background-position: top left;
}

.btn-reset {
  background-position: top right;
}

.foot {
  font-size: 14px;
  color: #8596BF;
  text-align: center;
  margin-bottom: 103px;
}